


/*******************************************NEVER*****************************************/

body
{
  background-color: red;
}

.nevergonna
{
  text-align: center;
  border: red 5px groove;
  margin: 30%
}
