
@font-face {
      font-family: 'policedutitre';
      src: url('web_fonts/Alice-Regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;

}

@font-face {
      font-family: 'policedelien';
      src: url('web_fonts/BLACKR-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'policesaloon';
      src: url('web_fonts/Smokum-Regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'policedutitre4';
      src: url('web_fonts/rothenbg-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'policeparagraphes';
      src: url('web_fonts/underwood_champion-webfont.woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'policetitrepara';
      src: url('web_fonts/Top_Secret-webfont.woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'policetitre42';
      src: url('web_fonts/Impact_Label_Reversed-webfont.woff');
      font-weight: normal;
      font-style: normal;
}


/**************************************HEADER******************************************/
header
{
  align-items: center;
  display: flex;
  justify-content: space-around;

  background-color: #FCE5F0;
  border: 6px black groove;
  box-shadow: 0px 10px 30px black;
  margin: 3px;
}

header h1
{
  font-family: 'policetitre42';
  font-size: 100px;
  text-shadow: 0px 3px 3px #E66A8F;
  color: black;
  text-decoration: none;

}

/*******************************BODY********************************************/

body
{
  background-image: url('images/husky.png');
  background-attachment: fixed;
  /*background-color: #E9D2C0;*/
}

/******************************NAVIGATION***************************************/

nav
{
color: brown;
text-align: center;
font-size: 30px;
font-family: 'policedelien';
display: flex;
justify-content: space-around;

border: 0px black solid;
margin-left: 10%;
margin-right: 10%;
box-shadow: 0px 6px 6px black;
border-radius: 5px;
}

nav a
{
  color: #0C290B;
}

nav a:hover
{
  text-shadow: 0px 3px 3px white;
}

h1
{
  font-family: 'policedutitre';
  color: purple;
  font-size: 50px;
  font-style: normal;
  text-decoration: underline;
  text-align: center;
}

h2
{
  text-align: left;
  font-family: 'policedutitre';
  color: black;
  font-size: 40px;
  text-decoration: underline;
  font-style: normal;
}

/*******************************************FOOTER************************************************/

footer
{
  text-align: center;
  background-color: #FCE5F0;
  border: 6px black groove;
  box-shadow: 0px 10px 30px black;
}



/**************************************CLASSES******************************************/
.pageactuelle
{
  color: red;
}

.corpspage
{

  height: auto;
  border-radius: 10px;
  border: black 2px solid;
  background-color: #FCE5E1;
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;

  margin: 2% 5% 2% 5%;

  padding: 1%;

  font-family: 'policeparagraphes';
  font-size: large;
  color: #382815;

}

.corpspage a
{
  color: #BA57AA;
}

.corpspage a:hover
{
  text-shadow: 0px 3px 3px white;
}

.présentation
{
  text-align: center;
  border-bottom: black 5px dotted;
  padding: 7px;
}

#labio
{
  text-align: left;
}

.bio
{
  margin: 5%;
  display: flex;
  justify-content: space-around;
}

.imgpp
{
  border: black 7px groove;
  width: 30em;
  background-color: #FBECF3;
}

.whyweb
{
  border-top: black 5px dotted;
  padding: 7px;
  text-align: center;
}
