
@font-face {
      font-family: 'policedutitre';
      src: url('web_fonts/Alice-Regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}


@font-face {
      font-family: 'titrephotovideo';
      src: url('web_fonts/Acme-Regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}


@font-face {
      font-family: 'policeparagraphes';
      src: url('web_fonts/underwood_champion-webfont.woff');
      font-weight: normal;
      font-style: normal;
}


@font-face {
      font-family: 'policetitre42';
      src: url('web_fonts/Impact_Label_Reversed-webfont.woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'policehistoires';
      src: url('web_fonts/UglyQua-webfont.woff');
      font-weight: normal;
      font-style: normal;
}


/**************************************HEADER**************************************************************************************/
.banniere
{
  align-items: center;
  display: flex;
  justify-content: left;
}

header h1
{
  font-family: 'policetitre42';
  font-size: 65px;
  text-shadow: 0px 3px 3px #E66A8F;
  color: black;
  text-decoration: none;
  margin-left: 100px;
  margin-right: 100px;
}

.logoheader
{
  height: 10em;
}

/*******************************BODY*******************************************/

body
{
  background-color: #FCE5F0;
  margin: 0;
  padding: 0;
}


/******************************NAVIGATION*****************************************************************************************/

nav
{
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: 'policedutitre';

  display: flex;
  justify-content: space-around;

  padding-left: 10%;
  padding-right: 10%;

  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

nav a:hover
{
  text-shadow: 0px 3px 3px lime;
}

nav a
{
  color: #0C290B;
  text-decoration: none;
}

/*********************************CARACTERISTIQUES DES TITRES Trucs**************************************************************/

.titrepage
{
  font-family: 'policedutitre';
  color: black;
  font-size: 2.5em;
  text-align: center;
}

h2
{
  text-align: left;
  font-family: 'policedutitre';
  color: black;
  font-size: 30px;
  text-decoration: none;
  font-style: normal;
}


ul
{
  font-family: 'policeparagraphes';
}

h4
{
  font-family: 'policedutitre';
}

/*******************************************FOOTER*****************************************************************************/

footer
{
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-top: 2px black solid;
}

footer img
{
  height: 80px;
}

/**************************************CLASSES TOUTES PAGES***************************************************************************/

.pageactuelle
{
  color: #F02AE2;
}

.introduction
{
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'policedutitre';
  font-size: medium;
  color: black;
  text-align: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.introduction a
{
  color: #C755EB;
  text-decoration: none;
}

.introduction a:hover
{
  text-shadow: 0px 3px 3px white;
}

/********************************ACCUEIL*****************************************************************************************/

.cequevoustrouverez
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.cubelienaccueil
{
  border: solid 2px black;
  border-radius: 10px;
  width: 300px;
  height: 170px;
}

.cubelienaccueil img
{
  height: 80px;
}

.margincube
{
  margin: 20px;
}

.cequevoustrouverez a
{
  margin : 50px;
  text-decoration: none;
}

.cequevoustrouverez a:hover
{
  box-shadow: 6px 6px 6px black;
  border-radius: 10px;
}

.cequevoustrouverez p
{
  font-size: 1.8em;
  font-family: 'policedutitre';
  color: black;
}
/******************************PAGE PROJETS HOBBYS*********************************************************************************/

.barre
{
  border: black 3px solid
}

.corpspageprojets
{
  margin-left: 50px;
  margin-right: 50px;
}

.corpspageprojets a
{
  color: #C755EB;
  text-decoration: none;
}

.corpspageprojets a:hover
{
  text-shadow: 0px 3px 3px white;
}

.corpspageprojets h2
{
  text-align: center;
}
.corpspageprojets p,h3
{
  font-family: 'policedutitre';
}
.lieninterpage
{
  border-top: black 2px solid;
  border-bottom: black 2px solid;

  display: flex;
  justify-content: space-around;

  margin-top: 50px;
}

.lieninterpage a
{
  font-family: 'policedutitre';
  font-size: 17px;
  color: black;
  text-decoration: none;
}

.lieninterpage a:hover
{
  text-shadow: 0px 3px 3px lime;
}

.dessinshistoires
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.dessinshistoires img
{
  border: black 2px groove;
  margin: 5px;
  transform: scale(1);
  transition-duration: 300ms;
}

.dessinshistoires img:hover
{
  transform: scale(1.02);
}

/******************************SECTION DESSINS*********************************/
.Dessin
{
  padding-top: 50px;
  padding-bottom: 50px;
}

.Dessin img
{
  height: 270px;
}


/*************************SECTION ECRITURE*************************************/
.Ecriture
{
  padding-top: 50px;
  padding-bottom: 50px;
}

.textehistoire h3
{
  text-align: left;
  font-family: 'policehistoires';
  color: black;
}

.textehistoire p
{
  text-align: left;
  font-family: 'policehistoires';
  color: black;
}

.cadrehistoire
{
  border: black 3px ridge;
  box-shadow: 6px 6px 6px black;
  margin: 3%;
  padding: 3%;
  background-color: white;
  display: flex;
  align-items: center;

}

/***************************BLUE BIRD******************************************/

.bluebirdblasons img
{
  height: 200px;
}

.bluebirdpersonnages img
{
  height: 400px;
}

.bluebirdautresdessins img
{
  height: 300px;
}

/*************************LA CHRONIQUE DU TEMPS********************************/

.tempsdessins img
{
  height: 300px;
}

/*****************************SECTION PHOTO*****************************************************************************/

.Photo
{
  padding-top: 50px;
  padding-bottom: 50px;
}

.photosimg img
{
  height: 300px;
}
/****************************SECTION PROJETS COMMUNS********************************************************************/

.Projets
{
  padding-top: 50px;
  padding-bottom: 50px;
}

.videobluebird
{
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'titrephotovideo';
  font-size: 150%;

}
.videobluebird video
{
  border: black 5px ridge;
  border-radius: 10px;
  margin : 1%;

  height: 20em;

}

.celeste
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding-top: 20px;
  padding-bottom: 20px;
}

.musiquesjeu
{
  display: flex;
  flex-direction: column;


}

.paramusique
{
  padding-top: 20px;
  padding-bottom: 20px;
}

/**********************************PAGE JEUX VIDEO*********************************************************************************/

.corpspagejeux
{
  margin-left: 50px;
  margin-right: 50px;
}

.jeux img
{
  border: black 3px ridge;
}

.Presentationjeu
{
  display: flex;
  justify-content: left;
  align-items: center;

  width: auto;

  padding: 15px;
  margin-right: 50%;
  border:  black 3px solid;
  background-color: white;
}

.jeuprésentation
{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

/*************************************PAGE A PROPOS***********************************************************************************/
#labio
{
  text-align: left;
}


.bio
{
  margin: 50px;
  display: flex;
  justify-content: left;

}

.bio img
{
  border: black 3px groove;
  height: 250px;
  background-color: #FBECF3;
  transform: scale(1);
  transition-duration: 300ms;
  margin: 50px;
 }

.bio img:hover
{
  transform: scale(0.70);
}
