@font-face {
      font-family: 'policedutitre';
      src: url('web_fonts/littletroublegirl-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;

}

@font-face {
      font-family: 'policedutitre2';
      src: url('web_fonts/AquilineTwo-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'policedutitre3';
      src: url('web_fonts/Windsong-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'policedutitre4';
      src: url('web_fonts/rothenbg-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

header
{
  font-family: 'policedutitre';
  font-size: 50px;
  color: white;
  align-items: center;
  display: flex;
  background-color: grey;
  border: 6px black groove;
  box-shadow: 0px 10px 30px black;
  margin: 3px
}

nav
{

border-bottom: 3px black double;
text-align: center;
font-size: large;
font-family: monospace;
display: flex;
justify-content: space-around;
}

body
{
  background-image: url('images/fleurs.png');
  /*background-color: #E9D2C0;*/
}

.corpspage
{
text-align: center;
font-size: large;
color: blue;
border-bottom: 6px black dotted;
}

footer
{
text-align: center;
}





.titrearticle
{
  font-family: arial;
  text-align: center;
  color: green;
  text-decoration: underline;
  font-style: normal;
}
