header
{
  font-size: xx-large;
  color: purple;
  text-decoration: none;
  text-align: left;
  display: inline-flex;
  background-color: pink;

}

nav
{
border-top: 6px black groove;
border-bottom: 3px black double;
text-align: center;
font-size: large;
font-family: monospace;
display: flex;
justify-content: space-around;
}

body
{
  background-color: #E9D2C0;
}

.corpspage
{
text-align: center;
font-size: large;
color: blue;
border-bottom: 6px black dotted;
}

footer
{
text-align: center;
}

#Logo
{
  width: auto;
  align-items: center;
}



.titrearticle
{
  text-align: center;
  color: green;
  text-decoration: underline;
  font-style: normal;
}
