header
{
  font-size: xx-large;
  color: purple;
  text-decoration: none;
  text-align: left;
}

nav
{
  font-family: fantasy;
  font-size: large;
  text-decoration: none;
  border: 3px;
  display: flex;

}

body
{
  background-color: #E9D2C0;
  border: 5px green groove;
}

p
{

  width: 1000px;
  margin: auto;
  border: 1px solid black;
  text-align: justify;
  padding: 12px;
  text-align: center;
}

#Logo
{
  width: auto;
}

.titrearticle
{
  text-align: center;
  color: green;
  text-decoration: underline;
  font-style: normal;
}

.tuesunparagrapheharry
{
  font-family:"Times New Roman";
  color: red;
  font-size: medium;
  text-align: center;
}
